@using Education_System.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin_User</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    @*<link rel="stylesheet" type="text/css" href="vendors/styles/core.css">*@
    <script src="~/AdminContent/vendors/scripts/core.js"></script>
    <link href="~/AdminContent/vendors/styles/icon-font.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css">*@
    @*<link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css">*@
    <link href="~/AdminContent/src/plugins/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css">*@
    <link href="~/AdminContent/src/plugins/datatables/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="vendors/styles/style.css">*@
    <link href="~/AdminContent/vendors/styles/style.css" rel="stylesheet" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
    @Html.Partial("Admin_Nav")
    @Html.Partial("Sidebar")
    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
              
                <!-- Simple Datatable start -->
                <div class="card-box mb-30">
                    <div class="pd-20">
                        <h4 class="text-blue h4">User</h4>
                        @*<p class="mb-0">you can find more options <a class="text-primary" href="https://datatables.net/" target="_blank">Click Here</a></p>*@
                    </div>
                    <div class="pb-20">
                        <table class="table stripe hover nowrap">
                            <thead>
                                <tr>
                                    <th class="table-plus datatable-nosort">First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone Number</th>
                                    <th>Email </th>
                                    @*<th>Start Date</th>
                                    <th class="datatable-nosort">Action</th>*@
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td>
                                            @item.Fname
                                        </td>
                                        <td>
                                            @item.Lname
                                        </td>

                                        <td>
                                            @item.PhoneNumber
                                        </td>
                                        <td>
                                           @item.Email
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>*@
                                        @*<td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>*@
                                    </tr>
                                    @*<tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>30</td>
                                        <td>Gemini</td>
                                        <td>1280 Prospect Valley Road Long Beach, CA 90802 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>20</td>
                                        <td>Gemini</td>
                                        <td>2829 Trainer Avenue Peoria, IL 61602 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>30</td>
                                        <td>Sagittarius</td>
                                        <td>1280 Prospect Valley Road Long Beach, CA 90802 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>25</td>
                                        <td>Gemini</td>
                                        <td>2829 Trainer Avenue Peoria, IL 61602 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>20</td>
                                        <td>Sagittarius</td>
                                        <td>1280 Prospect Valley Road Long Beach, CA 90802 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>18</td>
                                        <td>Gemini</td>
                                        <td>1280 Prospect Valley Road Long Beach, CA 90802 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>30</td>
                                        <td>Sagittarius</td>
                                        <td>1280 Prospect Valley Road Long Beach, CA 90802 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>30</td>
                                        <td>Sagittarius</td>
                                        <td>1280 Prospect Valley Road Long Beach, CA 90802 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>30</td>
                                        <td>Gemini</td>
                                        <td>1280 Prospect Valley Road Long Beach, CA 90802 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>30</td>
                                        <td>Gemini</td>
                                        <td>1280 Prospect Valley Road Long Beach, CA 90802 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-plus">Andrea J. Cagle</td>
                                        <td>30</td>
                                        <td>Gemini</td>
                                        <td>1280 Prospect Valley Road Long Beach, CA 90802 </td>
                                        <td>29-03-2018</td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                    <i class="dw dw-more"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>*@
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/AdminContent/vendors/scripts/core.js"></script>
    <script src="~/AdminContent/vendors/scripts/process.js"></script>
    <script src="~/AdminContent/vendors/scripts/script.min.js"></script>
    <script src="~/AdminContent/vendors/scripts/layout-settings.js"></script>
    <script src="~/AdminContent/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminContent/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminContent/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminContent/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminContent/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminContent/vendors/scripts/datatable-setting.js"></script>
</body>

</html>
